#container {
    width: 400px;
    height: 600px;
    margin: auto;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
}

#display {
    height: 100px;
    width: 400px;
    flex: 1 0 auto;
    border: 5px solid black;
    box-sizing: border-box;
    border-bottom: 10px solid black;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    background-color: #a8b8b9;
    padding: 10px 0px;
}

button {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: #58626b;
    color: white;
    font-size: 25px;

}

#calculatorBody {
    width: 400px;
    height: 500px;
    display: flex;
}

#digits {
    flex: auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

#operators {
    width: 100px;
    flex: auto;
}

 .zero {
    width: 200px;
 }

 #clear, .delete {
    background-color: #ff5959;
 }

 .operator {
    background-color: aquamarine;
    color: black;
 }

 #negate, .dot, .equal {
    background-color: #eced42;
    color: black;
 }
